<%= form_tag bug_solution_path, :method=> "delete", :class => "dialog" do %>
  <div class="dialog_message">Are you sure you want to delete this association?</div>
  <div class="actions">
    <%= submit_tag "Juice it." %>
  </div>
<% end %>