
 <% if current_user %>
    <p>Welcome to BugZapper, <%= current_user.displayname %></p>
 <% end %>
 <ul>
  <li> <%= link_to 'View Bugs', bugs_path %> </li>
  <li> <%= link_to 'View Solutions', solutions_path %> </li>
 </ul>
